.social-login
    button.social-login--google
        a(href=routes.google)
            |Continue with google
    button.social-login--facebook
        a(href=routes.facebook)
            |Continue with facebook